/.*.json
/.*.jsonl
/*.json
/*.jsonl
/.claude.json.*
/backups/
/cache/changelog.md
/config/notification_states.json
/debug/
/file-history/
/ide/
/image-cache/
/paste-cache/
/plans/
/plugins/
/projects/
/session-env/
/sessions/
/shell-snapshots/
/statsig/
/tasks/
/teams/
/todos/